textarea[type=text] {
    padding: 8px;
    height: 100px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 24px;
}
input[type=text] {
    padding: 8px;
    height: 100px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 24px;
}
.calcTextbox {
    width: 526px;
    margin-right: -4px;
}